.list{

  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.plusIcon{
  width : 25px;
  height : 25px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
}

.plusIcon2{
  margin-top: 30px;
  width : 100%;
  height : 25px;
}
