.plusIcon2{
  margin-top: 30px;
  width : 100%;
  height : 100px;
}

.plusIcon2::after{
  clear:both;
  content: '';
}

.plusIcon{
  width : 25px;
  height : 25px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
}
